NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/skyhoc"

JWT_ACCESS_SECRET="dev-access-secret-change-this"
JWT_REFRESH_SECRET="dev-refresh-secret-change-this"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d